
<br>
<div class="sidenav">
    <div class="login-main-text">
       <h1>Application<br> News List</h1>
       <p>News List Information.</p>
    </div>
  </div>
  <div class="main">
    <div class="col-md-14 col-sm-12">
       <div class="login-form">
        <div class="col-md-4 col-sm-2">
            <h4>News List</h4>
            
        </div>
        <div class="col-md-2  offset-md-0">
            <a href="/weather"><button type="button" class="btn btn-black" >Weather</button>
            </a>
           
     </div> 

     <div class="col-md-4 offset-md-0">
        <button type="button" class="btn btn-danger" (click)="onLogout()">Logout</button>
    </div>
    <div class="row">
        
        <div class="col-md-8 offset-md-2">
            <table class="table table-striped table-dark ">
                <thead >
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col"> Published At</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            <tr scope="row" class="text-secondary" *ngFor="let user of userService.users">
                <td>{{user.title}}</td>
                <td>{{user.description}}</td>
                <td>{{user.publishedAt | date}}</td>
                <td scope="row">
                
            </td>
            </tr>
        </tbody>
            </table>
        </div>
       
    </div>
   
   <div class="col-md-8 offset-md-2">
        <hr> 
        <a href="/aboutus">About us</a>
    </div>
        
    
</div>
     
  </div>
  </div>