<h3>Add News</h3>
<form (ngSubmit)="addNews()" #addnews="ngForm">
  <div class="form-group">
    <label for="tle">Title</label>
    <input type="text" class="form-control" id="tle" [(ngModel)]="title" name="tle">
  </div>
  <div class="form-group">
    <label for="descrip">Description</label>
    <input type="text" class="form-control" id="descrip" [(ngModel)]="description" name="descrip">
  </div>
  <div class="form-group">
    <label for="story">Story</label>
    <input type="text" class="form-control" id="story" [(ngModel)]="story" name="story">
  </div>
  <div class="form-group">
    <label for="type">Type</label>
    <select class='form-control' name="type" [(ngModel)]="type">
      <option value="0">News</option>
      <option value="1">Sports</option>
    </select>
  </div>
  <div class="form-group">
    <label for="imageUrl">URL To Image</label>
    <input type="text" class="form-control" id="imageUrl" [(ngModel)]="imageUrl" name="imageUrl">
  </div>
  <div class="form-group">
    <label for="published">Published on</label>
    <input type="date" class="form-control" id="published" [(ngModel)]="published" name="published">
  </div>
  <button type="submit" class="btn btn-success" [disabled]="!addnews.form.valid">Submit</button>
  <button type="button" class="btn btn-default" (click)="resetNews();">Reset</button>
</form>
<div *ngIf="users$ | async" class="users-list">
  <h3>Users</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">User Type</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users$ | async; let i = index">
        <td>{{ user.username }}</td>
        <td>
          <mat-slide-toggle [id]="i" [checked]="user.role == 1" (change)="switchRole(user, $event)">
            {{ user.role == 1 ? "Admin" : "Standard" }}</mat-slide-toggle>
        </td>
        <td>
          <button (click)="deleteUser(user)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>