<!-- <ul>
  <li *ngFor="let newsItem of receivednews" > 
      <img [src]="newsItem['imageUrl']" style="display: block; width: 25%;">
      
        <h4>{{newsItem['title']}}</h4>
        <p>{{newsItem['description']}}</p>
      
      </li>
</ul>  -->
<carousel>
  <slide *ngFor="let newsItem of receivednews" class="animated fadeIn">
    <img [src]="newsItem['imageUrl']" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h4>{{newsItem['title']}}</h4>
      <p>{{newsItem['description']}}</p>
    </div>
  </slide>
</carousel>